<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Partenaires / Partners</h2>

    <div class="myrow">
        <div class="col-12 mylogos">
            <a href="http://www.unige.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/unige-numerique.png" height="60" alt="" class="imgspace" /></a>
            <a href="http://citizencyberlab.org/" target="_blank"><img src="{{ site.baseurl }}/images/partners/ccl.png" alt="" width="169" class="imgspace" /></a>
            <a href="http://theport.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/theport.png" height="60" alt="" class="imgspace" /></a>
            <a href="http://www.creativitycenter.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/gcc.png" height="50" alt="" class="imgspace" /></a>
            <a href="http://www.campusbiotech.ch/en/" target="_blank"><img src="{{ site.baseurl }}/images/partners/cb.png" alt="" height="70" class="imgspace" /></a>
            <a href="http://www.hug-ge.ch/en" target="_blank"><img src="{{ site.baseurl }}/images/partners/hug.gif" height="60" class="imgspace" /></a>
            <a href="http://www.ge.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/canton_ge.jpg" height="60" alt="" class="imgspace" /></a>
            <a href="http://www.smartcityday.ch/smart-city-hack---schk17.html" target="_blank"><img src="{{ site.baseurl }}/images/partners/schk.png" height="60" alt="" class="imgspace" /></a>
            <a href="https://geneva.impacthub.net/" target="_blank"><img src="{{ site.baseurl }}/images/partners/IHG.jpg" height="60" alt="" class="imgspace" /></a>
        </div>
    </div>


  </div>

</footer>
