<a href="http://www.unige.ch/" target="_blank"><img src="images/partners/stratnumerique.png" height="60" alt="" class="imgspace" /></a>
<a href="http://gt-initiative.org/" target="_blank"><img src="images/partners/GTI-logo.png" alt="" height="60" class="imgspace" /></a>
<a href="http://citizencyberlab.org/" target="_blank"><img src="images/partners/ccl.png" alt="" width="169" class="imgspace" /></a>
<a href="http://theport.ch/" target="_blank"><img src="images/partners/theport.png" height="60" alt="" class="imgspace" /></a>
<a href="http://www.creativitycenter.ch/" target="_blank"><img src="images/partners/gcc.png" height="50" alt="" class="imgspace" /></a>
<a href="http://www.campusbiotech.ch/en/" target="_blank"><img src="images/partners/cb.png" alt="" height="70" class="imgspace" /></a>
<a href="http://www.hug-ge.ch/en" target="_blank"><img src="images/partners/hug.gif" height="60" class="imgspace" /></a>
<a href="http://www.ge.ch/" target="_blank"><img src="images/partners/canton_ge.jpg" height="60" alt="" class="imgspace" /></a>
<a href="http://www.smartcityday.ch/smart-city-hack.html" target="_blank"><img src="images/partners/schk.png" height="60" alt="" class="imgspace" /></a>
<a href="https://geneva.impacthub.net/" target="_blank"><img src="images/partners/IHG.png" height="60" alt="" class="imgspace" /></a>
<a href="http://www.globalhumanitarianlab.org/" target="_blank"><img src="images/partners/ghl.png" height="50" alt="" class="imgspace" /></a>
<a href="http://bodmerlab.unige.ch/" target="_blank"><img src="images/partners/bodmer.png" height="60" alt="" class="imgspace" /></a>
<a href="http://www.unog.ch/library" target="_blank"><img src="images/partners/LIBRARY_V_EN.png" height="60" alt="" class="imgspace" /></a>
<a href="http://www.sib.swiss" target="_blank"><img src="images/partners/sib.png" height="60" alt="" class="imgspace" /></a>
<a href="http://cui.unige.ch" target="_blank"><img src="images/partners/cui_pant.png" height="60" alt="" class="imgspace" /></a>
<a href="http://bioscope.ch" target="_blank"><img src="images/partners/bioscope.png" height="40" alt="" class="imgspace" /></a>
